html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}

.container{
    width: 100vw;
    background-color: black;
    margin-top: 2rem;
}
.title{
    text-align: center;
    font-size: 5rem;
    color: white;
    padding: 1rem;
    margin: 0;
}
.contador-title{
    text-align: center;
    font-size: 5rem;
    margin: 1rem auto;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 60rem));
    /* grid-template-columns: repeat(auto-fit, min(fit-content, 60rem)); */
    place-content: center;
    
}
.nombre{
    font-size: 5rem;
    text-align: center;
    margin: 0 auto;
}
.muestra{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30rem;
    height: 30rem;
    margin: 1rem auto;
    background-color: white;
    border: 0.5rem solid black;
    border-radius: 2rem;

}
.pvsp{
    display: grid;
    place-content: center;
}
.pvsp p{
    text-align: center;
    font-size: 6rem;
    margin: 1rem;
}
.ganador{
    font-size: 5rem;
    color: green;
    text-align: center;
}
.perdedor{
    font-size: 5rem;
    color: red;
    text-align: center;
}

.player__seleccion, .pc__seleccion{
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    gap: 3rem;
    place-content: center;
    height: 10rem;
    font-size: 5rem;
    max-width: 40rem;
    background-color: white;
    margin: 3rem auto;
    border-radius: 2rem;
}

.contador{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 40rem;
    min-height: 8rem;
    height: fit-content;
    border-radius: 20px;
    font-size: 5rem;
    background-color: white;
}

.border{
    transition: 0.1s;
    border: 5px solid black;
    border-radius: 10px;
}
.player__seleccion button{
    font-size: 5rem;
    border: none;
    background-color: transparent;
}
.player__seleccion > .player-button:hover{
    border-radius: 1rem;
    border: none;
}
#block:hover{ 
    cursor: not-allowed;
    outline: none;
    border: 0px;
}
.contador p, .pc__seleccion p{
    margin: 0;
    place-self: center;
    
}

.player__seleccion button:hover{
    opacity: 0.5;
    cursor: pointer;
    border: 0.1rem solid black;
}

.mostrando{
    font-size: 10rem;
    margin: 0;
}
.reiniciar{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.boton-reiniciar{
    width: 25rem;
    height: 5rem;
    margin: 0 auto;
    font-size: 2.5rem;
    background-color: white;
    border: none;
    border-radius: 10px;

}
.boton-reiniciar:hover{
    cursor: pointer;
}